<!doctype html>
<meta charset="utf-8">
<link rel="stylesheet" href="{{ '/static/lenny_style.css'|url }}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/comic-mono@0.0.1/index.css">
<title>{% block title %}Welcome{% endblock %} — blog</title>
<body>
  <header>
    <nav>
      <input type="checkbox" id="navbar-check">
      <label for="navbar-check" class="checkbtn">=</label>
      <ul class="menu nav navbar-nav">
        <li{% if this._path == '/' %} class="active"{% endif
          %}><a href="{{ '/'|url }}">Home</a></li>
        {% for href, title in [
          ['/blog', 'Blog'],
          ['/required-reading', 'Required Reading'],
        ] %}
          <li{% if this.is_child_of(href) %} class="active"{% endif
            %}><a href="{{ href|url }}">{{ title }}</a></li>
        {% endfor %}
      </ul>
    </nav>
    <hr>
  </header>
  <div class="page">
    {% block body %}{% endblock %}
  </div>
  <footer>
    <hr>
    &copy; Copyright 2025 by Lenny.
  </footer>
</body>
